<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.17_sol

#**Extra Pandas problems**

In [ ]:
import pandas as pd
import numpy as np

## Problem 11

From `ser`, extract the items at positions in list `pos`.

Input:

`ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))`

`pos = [0, 4, 8, 14, 20]`

## Problem 12

Get the positions of items of `ser2` in `ser1` as a list.

Input:

`ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])`

`ser2 = pd.Series([1, 3, 10, 13])`

## Problem 13

Compute the mean squared error of truth and pred series.

Input:

`truth = pd.Series(range(10))`

`pred = pd.Series(range(10)) + np.random.random(10)`

## Problem 14

Change the first character of each word to upper case in each word of `ser`.

Input:

`ser = pd.Series(['how', 'to', 'kick', 'ass?'])`

## Problem 15

Calculate the number of characters in each word in `ser`.

Input:

`ser = pd.Series(['how', 'to', 'kick', 'ass?'])`

## Problem 16

From `ser`, extract words that contain at least 2 vowels.

Input:

`ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])`

## Problem 17

Compute the mean of weights of each fruit.

Input:

`fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))`

`weights = pd.Series(np.linspace(1, 10, 10))`

## Problem 18

Replace the spaces in my_str with the least frequent character.

Input:

`my_str = 'dbc deb abed gade'`

## Problem 19

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

Input:

`df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')`

## Problem 20

Get the first column (a) in `df` as a dataframe (rather than as a Series).

Input:

`df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))`