<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.15_sol

#**Extra Numpy problems**

In [ ]:
import numpy as np

## Problem 21

Import the [iris dataset](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data) and compute the [softmax score](https://en.wikipedia.org/wiki/Softmax_function) of `sepallength`.

## Problem 22

Replace all ocurrences of `nan` with 0 in numpy array.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])`

`iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan`

## Problem 23

Find the unique values and the count of unique values in iris's `species`.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

`names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')`

## Problem 24

Randomly sample iris's `species` such that `setose` is twice the number of `versicolor` and `virginica`.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

## Problem 25

Find the value of second longest petallength of species setosa.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

## Problem 26

Sort the iris dataset based on `sepallength` column.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

`names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')`

## Problem 27

Find the most frequent value of `petallength` (3rd column) in iris dataset.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

`names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')`

## Problem 28

Find the position of the first occurrence of a value greater than 1.0 in `petalwidth` 4th column of iris dataset.

Input:

`url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'`

`iris = np.genfromtxt(url, delimiter=',', dtype='object')`

`names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')`

## Problem 29

From the array `a`, replace all values greater than 30 to 30 and less than 10 to 10.

Input:

`np.random.seed(100)`

`a = np.random.uniform(1,50, 20)`

## Problem 30

Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True. First time occurrences should be False.

Input:

`np.random.seed(100)`

`a = np.random.randint(0, 5, 10)`